.mysite{
    display: flex; /* включаем режим Flexbox */
    flex-direction: column; /* дочерние элементы будут располагаться сверху вниз */
    text-align: left;
    padding: 50px 250px;
    box-shadow:0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    background:#FFF;
    margin-bottom:75px;
}
	
.content{
    display: flex; /* включаем режим Flexbox */
    flex-direction: column; /* дочерние элементы будут располагаться слева на право */
    font-size: 16pt;
}
.row{
    flex: 1; /* столбцы будут иметь одинаковый размер при изменении разрешения */
}

.tittle-content {
    font-size: 200%; 
    border-bottom: 2px solid maroon; 
    font-weight: normal; 
    padding-bottom: 5px; 
   }

.header{
    display: flex;
}

.header-img,
.content-img{
    flex-wrap: wrap;
    max-width: 100%;
    position: relative; 
    filter: brightness(0.9);
}

.maintittle{
    font-size: 500%;
    color: ivory;
    font-weight: normal;
    position: absolute; 
    left: 50px; 
    top: 0px;
}

.links{
    list-style-type: square;
}

.form-check{
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top: 10px;
    background-color: DarkGrey;
}

.form-control{
    width: 25%;
}

.form-check:hover {
    filter: brightness(0.9);
}

.btn-submit:hover{
    filter: brightness(1.15);
}

.btn-submit{
    background-color: maroon;
    border: 0px solid;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14pt;
    font-weight: bold;
}

.footer-parallax {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    z-index:-1;
    text-align: center;
    justify-content: center;
    align-items: center;
    height:50px;
}
@media screen and (max-width:767px) {
    .footer-parallax {
        position:static;
    }
}

.money{
    border: 2px solid maroon;
    border-radius: 4px;
    border-color: maroon;
}